*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    user-select: none;
}
.nav{ 
    display:flex;
    justify-content: space-around;
    background:#80808085;
}
.nav p:last-child{
    order: 7;
}
.nav p a{
    display: inline-block;
    text-decoration: none;
    color:whitesmoke;
    padding:1.2rem 2.8rem;
    font-family:monospace;
    font-size:1.5rem;
    letter-spacing:0.3rem;
    transition:all 0.3s;
}
.nav a:hover{
    background:#ffffff36;
}
.header{
    height:100vh;
    width:100%;
    background-image:linear-gradient(90deg,#000000b3,#000000b3), url('./images/friends-img.jpg');
    background-size: cover;
    background-attachment:fixed;
}
.header h1{
    color:#ffffff;
    background:#8080807e;
    padding:1.3rem;
    font-size:3rem;
    letter-spacing:1rem;
    font-family:monospace;
    display:inline-block;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%);
    transition:all 0.3s ease;
}
.header h1:hover{
    opacity:0;
    color:#00000000;
}
.about{
    height:50vh;
    width:100%;
    background:#0c0b0b81;
    padding:2rem;
    box-sizing:border-box;
}  
.headingAbout{
   padding:1.7rem;
   display:flex;
   justify-content:center; 
   font-family:monospace;
   font-size:1.3rem;
   letter-spacing:0.3rem;
}
.aboutAbout{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    text-align: center;
}
.friend{
    height:100vh;
    width:100%;
    background-attachment:fixed;
    background-size: cover;
    position:relative;    
}
.aboutFriend{
    height:50vh;
    width:100%;
    background:#80808085;
    padding:3.1rem 6.2rem;
    box-sizing:border-box;
    position:absolute;
    bottom:0;    
    transition: all 0.5s ease;
}
.aboutFriend:hover{
    opacity:0;
}
.h1{
    padding:0px 0 1.2rem 0;
    display:flex;
    justify-content:center; 
    font-family:monospace;
    font-size:1.2rem;
    letter-spacing:0.3rem;
}
.p1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    text-align: center;
}
.ross{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/ross.png');  
}
.rachel{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/rachel.jpeg');
}
.chandler{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/chander.jpg');
}
.monica{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/monica.jpg');   
}
.joey{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/joeyy.jpg');   
}
.phoebe{
    background-image:linear-gradient(90deg,#00000080,#000000b3), url('./images/phoebe.jpeg');  
}
.footer{
    height:100vh;
    width:100%;
    background-image:linear-gradient(0deg,#000000cd,#000000cd), url(./images/footer.jpg);
    background-attachment:fixed;
    background-size: cover;
    position:relative;
}
.dropdown{
    position: absolute;
    right: 2%;
    top: 12%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.dropdownButton{
    color: white;
    width: 10vw;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
    background: #da4b09;
    border: none; 
    cursor: pointer;
    transition: all 0.05s ease;
}
.dropdownButton:hover{
    transform: scale(1.02);
}
.dropdownButton:active{
    transform: scale(1);
}
.dropdown-menu{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px);
    display: none;
}
.dropdown-item{
    /* border: 1px solid white; */
    padding: 2px 0;
    color: white;
    text-decoration: none;
    height: 30px;
    width: 100%;
    font-family: monospace;    
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}
.dropdown-item:hover{
    background: white;
    color: black;
}
.button{
    position:fixed;
    height:5rem;
    width:5rem;
    bottom:5%;
    right:2%;
    background:#8f3208;
    border-radius:50%;
    z-index:5;
    box-shadow:0.3rem 0.3rem #5f5e5e;
    display:grid;
    place-items:center;
    pointer-events: fill;
}
.buttonTap{
    position: absolute;
    right: 93%;
    cursor: pointer;
}

.button p{
    transition:all 0.5s ease;
    color:#8f3208;
    font-family:monospace;
    font-weight:bolder;
    font-size:1.5rem;
}
.button:hover p{
    color:black;
}
.button:active{
   bottom:4.5%;
   right:1.5%;
   box-shadow:0.1rem 0.1rem grey;
   background:#7e2d07;
}
.buttonTap:active{
    right: 92.5%;
}
.more{
    height:10%;
    width:22%;
    background:none;
    position:absolute;
    bottom:3%;
    left:50%;
    transform:translateX(-50%);
    border:0.2rem solid whitesmoke;
    padding:1rem 3rem 3rem 3rem;
    display: none;
}
.more p{
    color:white;
    line-height:2rem;
    letter-spacing:0.25rem;
    font-family:monospace;
    font-size:1.2rem;
}
.more p a{
    color:greenyellow;
    text-decoration:none;
}
.more p a:hover{
    border:0.1rem solid white;
}

.displayNone {
    display: none;
}

.displayNoneText {
    display: none;
}

.displayNoneButton {
    display: none;
}

@media all and (max-width: 500px) {

    button, a, header, .about, .ross, .rachel, .monica, .chandler, .phoebe, .joey, footer {
        display: none;
    }
    
    body {
        background: black;
    }
    .displayNone {
        display: block;
        height: 13rem;
        width: 13rem;
        background: rgb(16, 226, 16);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    .wave {
        height: 100%;
        width: 100%;
        background: rgb(39, 39, 39);
        position: absolute;
        top:0%;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear; 
    }

    .displayNoneText {
        display: block;
        color: black;
        margin: 1rem;
        font-size: 1.4rem;
        font-family: monospace;
        font-weight: bold;
        line-height: 40px;

    }

    .displayNoneButton {
        display: block;
        height: 7rem;
        width: 7rem;
        font-size: 1.5rem;
        font-family: monospace;
        background: rgb(16, 226, 16);
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @keyframes window {
        0% {
            transform: translateY(0%);

        }

        25% {
            transform: translateY(25%);

        }

        50% {
            transform: translateY(50%);

        }

        75% {
            transform: translateY(75%);

        }

        100% {
            transform: translateY(100%);

        }
    }
}